.theGame {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-right: 10px;

  p {
    //background-color: yellow;
    width: 100%;
    height: 100%;
    white-space: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    //text-align: justify;
    span {
      //background-color: teal;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

.text {
  //background-color: red;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  //padding: 10px 35px 10px 15px;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 1.5em;
}

.input {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 10px 35px 10px 15px;
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 1.5em;
  width: 100%;
}
.p {
  background-color: #fff;
  //border: 1px solid yellow;
  padding: 10px;
}



.error {
  color: red;
}
.correct {
 color: #458a45;
}
.nextChar {
  background-color: yellowgreen;
}