.theGame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  outline: none;
  z-index: 1;
  padding: 10px;
}


.language {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 80px;
  transform: translateX(-50%);
  background-color: #e34747;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  z-index: 10;
  user-select: none;
  transition: right 0.7s, opacity 0.5s;
  opacity: 0;
}

.language.show {
  right: 150px;
  opacity: 1;
}

