.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 100vw;
  min-height: calc(100vh - 60px);
  height: 100%;
}

.wrapper {
  margin-top: 60px;
  //background-color: #396aab;
  min-height: calc(100vh - 60px);
  background-color: white;
  color: #505050;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.profile {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  //width: %;
  background-color: #efefef;
  padding: 20px;
  border-radius: 10px;
  letter-spacing: 1px;

  .h2NotBottom {
    border-bottom: none;

  }

  h2 {
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #396aab;

    p {
      font-weight: 400;
      font-style: normal;
    }

    span {
      font-weight: 400;
      font-style: normal;
      font-family: "Special Elite", system-ui;
      color: #396aab;
    }
  }
}