.container {
  position: fixed;
  width: 100vw;;
  height: 60px;
  top: 0;
  font-size: 22px;
  background-color: #396aab;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.8px;
}

.links {
  height: 90%;
  display: flex;
  justify-content: center;
  align-content: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 22px;
    background-color: #396aab;
    color: white;
    gap: 10px;
    border-radius: 5px;
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;

    &:hover {
      background-color: #335d98;
    }
  }
}


.icon {
  font-size: 25px;
}

.wrapper {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  padding: 0 20px;
}

.logo {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}
